:root{
	--background_color:#505050; 
	--placeHolder: #8a2be2;
	--shadow_box: 1px 1px 5px rgba(255, 255, 255, 0.15),
	0 15px 90px 30px rgba(0, 0, 0, 0.25);
	--cardBorder:10px;
	--text_color: #ffffff;
	--enfasis_color: rgb(96, 125, 139);
	--enfasis_color_alpha: #b5b5b5a0;
	--code_color: dodgerblue;
    font-family: monospace;
  }
  

body {
	width: 100%;
	background-color: var(--background_color);
    margin: 0px auto;
}

/* 1em = 10 px */


a{
	text-decoration: none;
}

.portfolio-text-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.portfolio-text-button span:after {
  /* esto pone los >> */
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.portfolio-text-button:hover span {
  padding-right: 25px;
}

.portfolio-text-button:hover span:after {
  opacity: 1;
  right: 0;
}

.project-lenguage-button{
    height: 20px;
	padding: 5px ;
	width: fit-content;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    background-color: darkgreen;
    color: var(--text_color);
}

.avatar{
	position: relative;
	width: 120px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
    background-color: var(--placeHolder);
    background-image: url(../stylesheets/icons/avatar.jpg);
}

#banner-image{
    position: relative;
    width: 100%;/*1200px;*/
    height: 200px;
    margin-left: auto;
    margin-right: auto;	
    background-image: url(./icons/background.jpg);
    background-size:cover;
    background-position:center;
}

footer{
	position: relative;
	width: 100%;
	background-color: var(--background_color);
}

#footer-container{
	position: relative;
	width: 100%;/*1200px;*/
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color: var(--background_color);
}

.footer-column{
	position: relative;
	width: 30%;
	margin-right: 60px;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
	text-align: justify;
}

.footer-column-last{
	margin-right: 0px;
}
@media screen and (max-width: 511px) {
	.footer-column{
		width: 35%;
	}
	.footer-column-last{
		width: 100%;
	}
	.footer-column>.avatar{
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 512px) and (max-width: 1023px) {
	.footer-column{
		width: 25%;
	}
	.footer-column>.avatar{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 1024px) {
	.footer-column{
		width: 28%;
	}
}

header{
	position: relative;
	width: 100%;
	background-color: var(--background_color);
}

#header-container{
	position: relative;

  height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--background_color);
  padding: 0% 5% 0% 5%;
}

.icon{
	position: relative;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	display: inline-block;
  	/* background-color:var(--placeHolder); */
	background-color: #f0ffff;
	border-radius: 5px;
}

.icon-last{
	margin-right: 0px;
}

#icons-container-right{
	position: relative;
	top: 10px;
	float: right;
}

.introduction{
    font-size: 20px;
    color: #cccccc;
    justify-content: center;
    align-items: center;
    padding: 0% 15% 0% 15%;
}

.portfolio{
	position: relative;
	width: 100%;
	height: 400px;
    background-color: var(--placeHolder)
}

.portfolio-container{
	position: relative;
	width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
    background-size: cover;
    background-position: center;
}

.portfolio-text-body{
	text-transform: uppercase;
}
.portfolio-text-body,.portfolio-text-lenguages{
	position: relative;
    text-align: justify;
	color: var(--text_color);
	font-size: 20px;
	line-height: 18px;
	margin-bottom: 20px;
	display: flex;
}

.portfolio-text-button, .portfolio-text-button:link, .portfolio-text-button:visited {
	position: relative;
	display: inline-block;
	padding: 15px;
	border-style: solid;
    border-width: 2px;
	border-radius: 25px 0;
	border-color: var(--code_color);
	font-family: Arial;
	color: var(--text_color);
	font-size: 14px;
	font-weight: bold;
  vertical-align: middle;
  transition: all 0.5s;
  text-align: center;  
  justify-content: center;
}

.portfolio-text-container{
	position: absolute;
	width: 360px;
	top: 50%;
	transform: translateY(-50%);
}

.portfolio-text-container-left{
	left: 10px;
	text-align: left;
}
.portfolio-text-container-left > .portfolio-text-lenguages{
	justify-content: flex-start;
}
.portfolio-text-container-right{
	text-align: right;
	right: 10px;
}
.portfolio-text-container-right > .portfolio-text-lenguages{
	justify-content: flex-end;
}
.portfolio-text-title{
	position: relative;
	font-family: miso-bold;
	color: var(--text_color);
	font-size: 50px;
	line-height: 56px;
	margin-bottom: 18px;
}

.text{
	position: relative;
	font-family: Arial;
	font-size: 14px;
	color: #cccccc;
	line-height: 20px;
	margin-bottom: 18px;
}

.text a{
	font-weight: bold;
	text-decoration: none;
	color: var(--text_color);
}

.title{
	position: relative;
	font-family: miso-bold;
	color: var(--text_color);
	font-size: 30px;
	/* margin-bottom: 20px; */
}

#title-robby{
	top: 12px;
	float: left;
}

.portfolio-text-lenguages{
	gap: 5px;
}
.lists{
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
	text-align: center;
}
.lists > a{
    padding: 5px;
    border-radius: 20px;
    height: fit-content;
    width: 90%;
    border-style: outset;
    background-color: var(--placeHolder);
    margin: 10px 0 10px 0;
}
.lenguagesList{
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}