:root{
	--background_color:#505050; 
	--placeHolder: blueviolet;
	--shadow_box: 1px 1px 5px rgba(255, 255, 255, 0.15),
	0 15px 90px 30px rgba(0, 0, 0, 0.25);
	
	--text_color: #ffffff;
	--enfasis_color: rgb(96, 125, 139);
	--enfasis_color_alpha: rgba(96, 125, 139,0.5);
	--code_color: dodgerblue;
  }
  

body {
	/* background-image: url("BFBC2.png");
    background-repeat: repeat-x;
	font-family: 'open sans', sans-serif; */
	width: 100%;
	background-color: var(--background_color);
    margin: 0px auto;
}

/* 1em = 10 px */

/* .jumbotron-ar {
	background:transparent;
	padding: 0;
} */

a
{
	text-decoration: none;
}

.portfolio-text-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.portfolio-text-button span:after {
  /* esto pone los >> */
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.portfolio-text-button:hover span {
  padding-right: 25px;
}

.portfolio-text-button:hover span:after {
  opacity: 1;
  right: 0;
}

.avatar
{
	position: relative;
	width: 120px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
    /* background-image: url(../image/avatar.png); */
    background-color: var(--placeHolder);
}

#banner-image{
    position: relative;
    width: 100%;/*1200px;*/
    height: 200px;
    margin-left: auto;
    margin-right: auto;	
    background-image: url(./background.jpg);
    background-size:cover;
    background-position:center;
}

footer
{
	position: relative;
	width: 100%;
	background-color: var(--background_color);
}

#footer-container
{
	position: relative;
	width: 100%;/*1200px;*/
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color: var(--background_color);
}

.footer-column
{
	position: relative;
	width: 30%;
	margin-right: 60px;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
}

.footer-column-last
{
	margin-right: 0px;
}

header
{
	position: relative;
	width: 100%;
	background-color: var(--background_color);
}

#header-container
{
	position: relative;

  height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--background_color);
  padding: 0% 5% 0% 5%;
}

.icon
{
	position: relative;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	display: inline-block;
  background-color:var(--placeHolder);
}

.icon-last
{
	margin-right: 0px;
}

#icons-container-right
{
	position: relative;
	top: 10px;
	float: right;
}

.introduction{
    font-size: 20px;
    color: #cccccc;
    justify-content: center;
    align-items: center;
    padding: 0% 15% 0% 15%;
}

.portfolio
{
	position: relative;
	width: 100%;
	height: 400px;
	border-style: solid;
    border-width: 2px;
    background-color: var(--placeHolder)
}

.portfolio-container
{
	position: relative;
	width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-text-body
{
	position: relative;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	line-height: 18px;
	margin-bottom: 20px;
}

.portfolio-text-button, .portfolio-text-button:link, .portfolio-text-button:visited 
{
	position: relative;
	display: inline-block;
	padding: 15px;
	border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color: #ffffff;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
  vertical-align: middle;
  transition: all 0.5s;
  text-align: center;  
  justify-content: center;
}

.portfolio-text-container
{
	position: absolute;
	width: 360px;
	top: 50%;
	transform: translateY(-50%);
}

.portfolio-text-container-left
{
	left: 0px;
}

.portfolio-text-container-right
{
	right: 0px;
}

.portfolio-text-title
{
	position: relative;
	font-family: miso-bold;
	color: #ffffff;
	font-size: 50px;
	line-height: 56px;
	margin-bottom: 18px;
}

.text
{
	position: relative;
	font-family: Arial;
	font-size: 14px;
	color: #cccccc;
	line-height: 20px;
	margin-bottom: 18px;
}

.text a
{
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

.title
{
	position: relative;
	font-family: miso-bold;
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 20px;
}

#title-robby
{
	top: 12px;
	float: left;
}
