{{define "login"}}
<!-- <html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/stylesheets/estilos.css" />
	<link rel="stylesheet" href= />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Log In</title>
<link rel="icon" href="./static/stylesheets/icons/59.ico" type="image/x-icon" />
</head> -->
	{{template "header" .}}
<body>
	
	{{if .Data}}
	<script>
		console.Log({{.Data}})
		alert("Error Al Iniciar Sesion");
	</script>
	{{end}}

	<div class="forms">
		<ul class="tab-group">
			<li class="tab active"><a href="#login">Log In</a></li>
		</ul>
		<form action="/LogIn" id="login" method="POST">
			  <h1>Iniciar Sesion</h1>
			  <div class="input-field">
				<input type="text" 		id="usuario" name="usuario" 		required="Usuario" 	placeholder="Usuario"/>
				<input type="password" 	id="contraseña" name="contraseña" 	required 			placeholder="Contraseña"/>
			  </div>
		  </form>
	</div>
	{{template "footer"}}
</body>
</html>
{{end}}