{{define "home"}}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

  <link rel="stylesheet" href="./static/stylesheets/estilos.css">

  <title>Juan Heza Notebook</title>
  <link rel="icon" href="./static/stylesheets/59.ico" type="image/x-icon" />


</head>

<body>
  <!-- 
		-->
  {{template "header"}}
  <main class="content">
    <div class="introduction">
      <Section>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tortor aliquet at eleifend donec velit, etiam purus
          feugiat ac primis. Cum integer blandit eros ridiculus habitasse curabitur condimentum vulputate litora primis
          augue scelerisque auctor, porta platea non magnis praesent mauris mus suspendisse curae urna bibendum.</p>
      </Section>
    </div>
{{range .}}
    <div class="portfolio">
      <div class="portfolio-container">
        {{if eq .Side 0}}
        <div class="portfolio-text-container portfolio-text-container-left">
          {{else if eq .Side 1}}
        <div class="portfolio-text-container portfolio-text-container-right">
          {{end}}
          <div class="portfolio-text-title">{{.Name}}</div>

          <div class="portfolio-text-body">
            {{.Language}}
          </div>
          <div class="portfolio-text-body">
            {{.Description}}
          </div>

          <a href="/Proyect/{{.Name}}"  class="portfolio-text-button">
            <span>Visit</span>
          </a>
        </div>
      </div>
    </div>
    {{end}}
    </div>

  </main>
  {{template "footer"}}
  <!-- 
		-->
</body>

</html>
{{end}}