{{define "card"}}
<div id="card">
          <div class="upperCard">
            <div class=" upperColumn"><div class="proyectIcon">{{.Icon}}</div></div>
            <div class="proyectDescription upperColumn">
              <p class="">{{.Description}}</p>
            </div>
          </div>
          <div class="bottomCard">
            <div class="proyectTime bottomColumn">
              {{if .Time}}
              <div class="clock-col">
                <p class="clock-hours clock-timer">{{index .Time 0 }}</p>
                <p class="clock-label">
                  Hours
                </p>
              </div>
              <div class="clock-col">
                <p class="clock-minutes clock-timer">{{index .Time 1 }}</p>
                <p class="clock-label">
                  Minutes
                </p>
              </div>
              <div class="clock-col">
                <p class="clock-seconds clock-timer">{{index .Time 2 }}</p>
                <p class="clock-label">
                  Seconds
                </p>
              </div>
              {{else}}
              Time Not Initialized
              {{end}}
            </div>
            <!-- <div class="ProyectLanguage bottomColumn bottomMiddleColumn">.Lenguage</div> -->
            <div class="proyectProgress bottomColumn" style="width: 40%;" id="proyectProgress">
              <div class="ProgressText">
                Progreso
                <div id="value"></div>
              </div>
              <div class="ProgressBar" style="width: 100%;">
                <div
                  class="ProgressBar-Fill"
                  id="Fill"
                  style="width: 1%;"
                  onclick="move()"
                ></div>
              </div>
            </div>
          </div>
        </div>
{{end}}
<!-- 
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
 -->
{{define "structures"}}
<div>

</div>
{{end}}
<!-- 
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
 -->
{{define "functions"}}
<div>
    
</div>
{{end}}
<!-- 
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
 -->
{{define "galery"}}
<div>
    
</div>
{{end}}
<!-- 
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
 -->
{{define "tasks"}}
<div>
    
</div>
{{end}}
<!-- 
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
 -->
{{define "notes"}}
<div>
    
</div>
{{end}}
<!-- 
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
    ????????????????????????????????????????????????????????????????????
 -->
{{define "missing"}}
<div>
    
</div>
{{end}}