{{define "CRUD"}}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/scripts/script.js"></script>
  <script type="text/javascript" src="/static/scripts/dragNdrop.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/estilos.css" />
  <link rel="stylesheet" href="/static/stylesheets/dragNdrop.css" />
  <link rel="icon" href="/static/stylesheets/59.ico" type="image/x-icon" />
  <title>Juan Heza/{{.Name}}</title>
</head>

{{template "header"}}

{{if . }}

<body onload="init()">
  <!-- <h1>Juan Heza Notebook</h1>
  <H2 id="id">{{.Name}}</H2> -->
  <form action="/Data" method="PUT" enctype="multipart/form-data" id="ProjectForm">
    <fieldset class="container">
      <legend>Inforacion Basica</legend>

      <div class="row" id="nombre_container">
        <div class="nameCol">
          <label for="nombre"> <strong>Nombre:</strong></label>
        </div>
        <div class="inputCol">
          <input type="text" name="nombre" value="{{.Name}}" />
        </div>
      </div>

      <div class="row" id="lenguage_container">
        <div class="nameCol">
          <label for="lenguaje"> <strong>Lenguaje:</strong></label>
          <!-- <br><label id="add_button" onclick="addField()">add lenguage</label> -->
        </div>
        <div class="inputCol">
          <input type="text" name="lenguaje[]" value="{{.Language}}" />
        </div>
      </div>

      <div class="row" id="progress_container">
        <div class="nameCol">
          <label for="progreso"><strong> Progreso:</strong></label>
        </div>
        <div class="inputCol">
          <input type="range" id="a" name="progreso" value="{{.Progress}}" />
          <div id="ProgressValue">{{.Progress}}</div>
        </div>
      </div>

      <div class="row" id="introduction_container">
        <div class="nameCol">
          <label for="introduccion"><strong>Introduccion:</strong></label>
        </div>
        <div class="inputCol">
          <textarea name="introduccion" rows="4" cols="30" maxlength="250">{{.Introduccion}}</textarea>
        </div>
      </div>

      <div class="row" id="description_container">
        <div class="nameCol">
          <label for="descripcion"><strong>Description:</strong></label>
        </div>
        <div class="inputCol">
          <textarea name="descripcion" rows="10" cols="30">{{.Description}}</textarea>
        </div>
      </div>

      <div class="row" id="icon_container">
        <div class="nameCol">
          <label for="icon"><strong>Icon (128 x 128)</strong></label>
        </div>
        <div class="nameCol">
          <img src={{.Icon}} alt="Icon" width="128px" height="128px">
          <input type="file" name="icon" />
          <label for="icon" class="cambiar"><strong>Cambiar</strong></label>
        </div>

        <div class="nameCol">
          <label for="banner"><strong>Banner (800 x 400)</strong></label>
        </div>
        <div class="nameCol">
          <img src={{.Banner}} alt="Banner" width="256px" height="128px">
          <input type="file" name="banner" />
          <label for="banner" class="cambiar"><strong>Cambiar</strong></label>
        </div>
      </div>

      <div class="row" id="gallery_container">
        <div class="nameCol">
          <label for="gallery"><strong>Imagenes:</strong></label>
        </div>
        <div class="inputCol">
          <input type="file" name="gallery" id="gallery" multiple />
        </div>
      </div>
      <input type="hidden" name="table" value="general">
      <input type="hidden" name="lastName" value={{.Name}}>
    <input type="submit" value="Submit" />
    </fieldset>
  </form>

  <!-- ///////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////// -->
  <!-- <div class="box">
    <div class="boxInput">
      <input type="file" class="boxFile" name="files[]" id="file" data-multiple-caption="{count} files selected"
        multiple onchange='readURL(this)'>
      <label for="file"> <strong>escoge un archivo</strong><span class="boxDragndrop"> o ponelo aqui</span>.</label>
      <img src="" id="foto"></img>
    </div>
    <div class="boxUploading">espera</div>
    <div class="boxSuccess">listo</div>
    <div class="boxError">error</div>
  </div> -->
  <!-- ///////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////// -->

  <div id="menu">
    <div class="option">
      <button onclick="Show('section_Model')">Add Model</button>
    </div>
    <div class="option">
      <button onclick="Show('section_Function')"> Add Function</button>
    </div>
    <div class="option">
      <button onclick="Show('section_Task')">Add Task</button>
    </div>
    <div class="option">
      <button onclick="Show('section_Note')">Add Note</button>
    </div>
    <div class="option">
      <button onclick="Show('section_Palette')">Add Palette</button>
    </div>
  </div>

  <div id="section_Model">
    <div class="table" id="ModelsTable">
      {{range .Models}}
      <div class="tableRow" id="{{.Title}}">
        <div class="tableTitle">{{.Title}}</div>
        <div class="tableButtons">
          <div class="divButton"><a class="cambiar editbutton" onclick="EditModel({{.Title}})">Edit</a></div>
          <div class="divButton"><a class="cambiar deletebutton" onclick="DeleteModel({{.Title}})">Delete</a></div>
        </div>
        <div class="data">
          <div class="structureCard" id={{.Title}}>
            <div class="name"> {{.Title}} </div>
            {{range .Data}}
            <div class="fields">
              <div class="fieldName">{{.Name}}</div>
              <div class="fieldType">{{.DataType}}</div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      {{end}}
    </div>

    <form action="/Data/{{.Name}}/Modelo" method="POST" enctype="application/x-www-form-urlencoded" id="MethodsForm">
      <fieldset>
        <legend>Modelos</legend>
        <div class="row">
          <div class="nameCol">
            <label for="titulo"><strong>Modelo:</strong></label>
          </div>
          <div class="nameCol">
            <input type="text" name="titulo" placeholder="Description" id="modelsTitleForm" />
          </div>
          <div class="nameCol">
            <div class="divButton"><a class="cambiar" onclick="addFields()">Agregar Fila</a></div>
          </div>
        </div>
        <div class="modelsFields row">
          <div class="nameCol">
            <label for="campo[]"><strong>Campo:</strong></label>
          </div>
          <div class="nameCol">
            <input type="text" name="campo[]" placeholder="Nombre" id="modelsFiedForm" />
          </div>
          <div class="nameCol">
            <label for="dato[]"><strong>Tipo de Dato:</strong></label>
          </div>
          <div class="nameCol">
            <input type="text" name="dato[]" placeholder="Description" id="modelsDataForm" />
          </div>
        </div>
        <input type="hidden" name="id" value=''>
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
  </div>
  <div id="section_Function">
    <div class="table" id="FunctionsTable">
      {{ range .Functions}}
      <div class="tableRow" id="{{.ID}}">
        <div class="tableTitle">{{.Call}}</div>
        <div class="tableButtons">
          <div class="divButton"><a class="cambiar editbutton" onclick="EditFunction({{.ID}})">Edit</a></div>
          <div class="divButton"><a class="cambiar deletebutton" onclick="DeleteFunction({{.ID}})">Delete</a></div>
        </div>
        <div class="data">
          <div class="functionHeader" onclick="Show('.FunctionIndex')">
            <div class="functionCall">{{.Call}}</div>
            <div class="functionReturn">{{.Return}}</div>
          </div>
          <div class="functionDescription" id=".FunctionIndex">{{.Description}}</div>
        </div>
      </div>
      {{end}}
    </div>

    <form action="/Data/{{.Name}}/Funcion" method="POST" enctype="application/x-www-form-urlencoded" id="FunctionsForm">
      <fieldset>
        <legend>Funciones</legend>
        <div class="row">
          <div class="nameCol">
            <label for="llamada"><strong>Llamada:</strong></label>
          </div>
          <div class="inputCol">
            <input type="text" name="llamada" placeholder="Nombre" id="functionCallForm" />
          </div>
        </div>
        <div class="row">
          <div class="nameCol">
            <label for="return"><strong>Return:</strong></label>
          </div>
          <div class="inputCol">
            <input type="text" name="return" placeholder="Nombre" id="functionReturnForm" />
          </div>
        </div>
        <div class="row">
          <div class="nameCol">
            <label for="funcion"><strong>Descripcion:</strong></label>
          </div>
          <div class="inputCol">
            <input type="text" name="funcion" placeholder="Description" id="functionDescriptionForm" />
          </div>
        </div>
        <div class="row">
          <div class="nameCol">
            <label for="codigo"><strong>Codigo:</strong></label>
          </div>
          <div class="inputCol">
            <input type="text" name="codigo" placeholder="Description" id="functionCodeForm" />
          </div>
        </div>
        <input type="hidden" name="id" value=''>
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
  </div>
  <div id="section_Task">
    <div class="table" id="TaskTable">
      {{range .Tasks}}
      <div class="tableRow" id="{{.ID}}">
        <div class="tableTitle">{{.Text}}</div>
        <div class="tableButtons">
          <div class="divButton"><a class="cambiar editbutton" onclick="EditTask({{.ID}})">Edit</a></div>
          <div class="divButton"><a class="cambiar deletebutton" onclick="DeleteTask({{.ID}})">Delete</a></div>
        </div>
        <div class="data">
          <div>
            <img height="16px" width="16px" class="taskImage" src={{if eq .Done true}} "/static/stylesheets/Done.png"
              alt="Done" {{else}} "/static/stylesheets/Undone.png" alt="Undone" {{end}} />
          </div>
          <div class="text"> {{.Text}}</div>
        </div>
      </div>
      {{end}}
    </div>

    <form action="/Data/{{.Name}}/Notas" method="POST" enctype="application/x-www-form-urlencoded" id="TaskForm">
      <fieldset>
        <legend>Tareas</legend>
        <div class="row">
          <div class="nameCol">
            <label for="tarea"><strong> Tarea:</strong></label>
          </div>
          <div class="inputCol">
            <input type="text" name="tarea" placeholder="Nombre" id="taskTextForm" />
          </div>
        </div>
        <div class="row">
          <div class="nameCol">
            <label for="completo"><strong>Completado:</strong></label>
            <input type="checkbox" name="completo" placeholder="Nombre" id="taskDoneForm" value=true/>
          </div>
          <div class="nameCol">
            <label for="completo"><strong>Pendiente:</strong></label>
            <input type="checkbox" name="completo" placeholder="Nombre" id="taskUndoneForm" value=false />
          </div>
  
        </div>
        <input type="hidden" name="id" value=''>
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
  </div>
  <div id="section_Note">
    <div class="table" id="NoteTable">
      {{range .Notes}}
      <div class="tableRow" id="{{.ID}}">
        <div class="tableTitle">{{.Title}}</div>
        <div class="tableButtons">
          <div class="divButton"><a class="cambiar editbutton" onclick="EditNote({{.ID}})">Edit</a></div>
          <div class="divButton"><a class="cambiar deletebutton" onclick="DeleteNote({{.ID}})">Delete</a></div>
        </div>
        <div class="data">
          <div class="noteBlock" id={{.ID}}>
            <div class="noteTitle"> {{.Title}}</div>
            <div class="noteText">
              <p>{{.Text}}</p>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>

    <form action="/Data/{{.Name}}/Tarea" method="POST" enctype="application/x-www-form-urlencoded" id="NotesForm">
      <fieldset>
        <legend>Notas</legend>
        <div class="row">
          <div class="nameCol">
            <label for="nota"><strong>Titulo:</strong></label>
          </div>
          <div class="inputCol">
            <input type="text" name="nota" placeholder="Nombre" id="notesTitleForm" />
          </div>
        </div>
        <div class="row">
          <div class="nameCol">
            <label for="cuerpo"><strong>Texto:</strong></label>
          </div>
          <div class="inputCol">
            <input type="text" name="cuerpo" placeholder="Nombre" id="notesTextForm" />
          </div>
        </div>  
        <input type="hidden" name="id" value=''>
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
  </div>
  <div id="section_Palette">
    <form action="/Data/{{.Name}}/" method="PUT" enctype="application/x-www-form-urlencoded" id="PaletteForm">
      <fieldset>
        <legend>
          Paleta de colores
        </legend>
        <div style="width: 20%; float: left;">
          <div class="row">
            <div class="nameCol">
              <label for="texto_color"><strong>Texto:</strong></label>
            </div>
            <div class="inputCol">
              <input type="color" name="texto_color" id="texto_color" value="#ffffff" onchange="Recolor()" />
            </div>
          </div>
          <div class="row">
            <div class="nameCol">
              <label for="enfasis_color"><strong>Enfasis:</strong></label>
            </div>
            <div class="inputCol">
              <input type="color" name="enfasis_color" id="enfasis_color" value="#607d8b" onchange="Recolor()" />
            </div>
          </div>
          <div class="row">
            <div class="nameCol">
              <label for="codigo_color"><strong>Codigo:</strong></label>
            </div>
            <div class="inputCol">
              <input type="color" name="codigo_color" id="codigo_color" value="#1e90ff" onchange="Recolor()" />
            </div>
          </div>
        </div>
        <div style="
          background-image: url(/static/images/Personal/Banner.png);
          background-size: cover;
          width: 45%;
          height: 150px;
          background-color: #8a2be2;
          float: left;
          margin-left: 15%;
        ">
          <div id="testEnfasis">
            <div id="testText">Titulo</div>
            <div id="testCode">
              <p>fmt.Println("Este Es Un Codigo de Prueba</p>
            </div>
          </div>
          <li style="background-color: black;">
            <a id="testButton"> <span></span> Boton de Prueba</a>
          </li>
        </div>
      </fieldset>
    </form>
  </div>
  {{else}}

  <body onload="something()">
    <!-- <h1>Juan Heza Notebook</h1> -->
    <button onclick="projectForm(true, null)">Add Project</button>
    <table>
      <tr>
        <th>Icono</th>
        <th>Nombre</th>
        <th>Introduccion</th>
        <th>Progresso</th>
        <th>Lenguaje</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </table>
    <br />

    <form action="/Data" method="PUT" enctype="multipart/form-data" id="ProjectForm">
      <fieldset class="container">
        <legend>Inforacion Basica</legend>

        <div class="row" id="nombre_container">
          <div class="nameCol">
            <label for="nombre"> <strong>Nombre:</strong></label>
          </div>
          <div class="inputCol">
            <input type="text" name="nombre" value="" />
          </div>
        </div>

        <div class="row" id="lenguage_container">
          <div class="nameCol">
            <label for="lenguaje"> <strong>Lenguaje:</strong></label>
            <!-- <br><label id="add_button" onclick="addField()">add lenguage</label> -->
          </div>
          <div class="inputCol">
            <input type="text" name="lenguaje[]" value="" />
          </div>
        </div>

        <div class="row" id="progress_container">
          <div class="nameCol">
            <label for="progreso"><strong> Progreso:</strong></label>
          </div>
          <div class="inputCol">
            <input type="range" id="a" name="progreso" value="" />
            <div id="ProgressValue"></div>
          </div>
        </div>

        <div class="row" id="introduction_container">
          <div class="nameCol">
            <label for="introduccion"><strong>Introduccion:</strong></label>
          </div>
          <div class="inputCol">
            <textarea name="introduccion" rows="4" cols="30" maxlength="250"></textarea>
          </div>
        </div>

        <div class="row" id="description_container">
          <div class="nameCol">
            <label for="descripcion"><strong>Description:</strong></label>
          </div>
          <div class="inputCol">
            <textarea name="descripcion" rows="10" cols="30"></textarea>
          </div>
        </div>

        <div class="row" id="icon_container">
          <div class="nameCol">
            <label for="icon"><strong>Icon (128 x 128)</strong></label>
          </div>
          <div class="nameCol">
            <img src="" alt="Icon" width="128px" height="128px">
            <input type="file" name="icon" />
            <label for="icon" class="cambiar"><strong>Cambiar</strong></label>
          </div>

          <div class="nameCol">
            <label for="banner"><strong>Banner (800 x 400)</strong></label>
          </div>
          <div class="nameCol">
            <img src="" alt="Banner" width="256px" height="128px">
            <input type="file" name="banner" />
            <label for="banner" class="cambiar"><strong>Cambiar</strong></label>
          </div>
        </div>

        <div class="row" id="gallery_container">
          <div class="nameCol">
            <label for="gallery"><strong>Imagenes:</strong></label>
          </div>
          <div class="inputCol">
            <input type="file" name="gallery" id="gallery" multiple />
          </div>
        </div>
        <input type="hidden" name="table" value="general">
        <input type="hidden" name="lastName" value=>
      </fieldset>


      <input type="submit" value="Submit" />
    </form>

    {{end}}

    {{template "footer"}}
   
  </body>

</html>
{{end}}