{{define "footer"}}
<footer>
  <div id="footer-container">
    <div class="footer-column">
      <div class="title">ABOUT</div>

      <div class="avatar"></div>

      <div class="text">
        Lorem ipsum dolor sit amet consectetur adipiscing, elit tortor aliquet
        at eleifend donec velit, etiam purus feugiat ac primis. Cum integer
        blandit eros ridiculus habitasse curabitur condimentum vulputate litora
        primis augue scelerisque auctor, porta platea non magnis praesent mauris
        mus suspendisse curae urna bibendum.
      </div>
    </div>

    <div class="footer-column">
      <div class="title">TUTORIAL</div>

      <div class="text">
        Lorem ipsum dolor sit amet consectetur adipiscing, elit tortor aliquet
        at eleifend donec velit, etiam purus feugiat ac primis. Cum integer
        blandit eros ridiculus habitasse curabitur condimentum vulputate litora
        primis augue scelerisque auctor, porta platea non magnis praesent mauris
        mus suspendisse curae urna bibendum.<br />
        <a href="/#" target="_blank">Design Portfolio</a><br />
      </div>
    </div>

    <div class="footer-column footer-column-last">
      <div class="title">CONTACT</div>

      <div class="text">
        Lorem ipsum dolor sit amet consectetur adipiscing, elit tortor aliquet
        at eleifend donec velit, etiam purus feugiat ac primis.
      </div>

      <div>
        <!-- <a href="/#" target="_blank">
          <div class="icon icon-facebook"></div>
        </a>

        <a href="/#" target="_blank">
          <div class="icon icon-twitter"></div>
        </a>

        <a href="/#" target="_blank">
          <div class="icon icon-dribbble"></div>
        </a>

        <a href="/#" target="_blank">
          <div class="icon icon-linkedin"></div>
        </a>

        <a href="/#">
          <div class="icon icon-last icon-email"></div>
        </a> -->
        {{range Links}}
      <a href="#">
        <div class="icon"></div>
      </a>
      {{end}}
      </div>
    </div>
  </div>
</footer>
{{end}}
