{{define "header"}}
<header>
  <div id="banner-image"></div>
  <div id="header-container">
    {{if .}}
    <a id="SideBarMenu">
      <div style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776</div>
    </a>
    {{end}}
    <a href="/Home"><div id="title-robby" class="title">Juan Heza</div></a>
    <div id="icons-container-right">
      {{if eq Session true}}
      <a href="/LogOut">
        <div class="icon icon-logOut" style="background-color: green;"></div>
      </a>
      {{if eq Admin true}} 
      <a href="/Edit">
        <div class="icon icon-gear" style="background-color: blue;"></div>
      </a>
        {{end}} 
      {{else}}
      <a href="/LogIn">
        <div class="icon icon-logIn" style="background-color: Red;"></div>
      </a>
      {{end}}
      <!-- <a href="#" target="_blank">
        <div class="icon icon-github"></div>
      </a>
      <a href="#" target="_blank">
        <div class="icon icon-linkedin"></div>
      </a>
      <a href="#">
        <div class="icon icon-last icon-email"></div>
      </a> -->
      {{range Links}}
      <a href="#">
        <div class="icon"></div>
      </a>
      {{end}}
    </div>
  </div>
</header>
{{end}}
