<form action="/Crud" method="PUT" enctype="multipart/form-data" id="PaletteForm">
    <fieldset>
      <legend>
        Paleta de colores
      </legend>
      <div style="width: 20%; float: left;">
        <div class="row" style=>
          <div class="nameCol">
            <label for="texto_color"><strong>Texto:</strong></label>
          </div>
          <div class="inputCol">
            <input type="color" name="texto_color" id="texto_color" value="#ffffff" onchange="Recolor()" />
          </div>
        </div>
        <div class="row">
          <div class="nameCol">
            <label for="enfasis_color"><strong>Enfasis:</strong></label>
          </div>
          <div class="inputCol">
            <input type="color" name="enfasis_color" id="enfasis_color" value="#607d8b" onchange="Recolor()" />
          </div>
        </div>
        <div class="row">
          <div class="nameCol">
            <label for="codigo_color"><strong>Codigo:</strong></label>
          </div>
          <div class="inputCol">
            <input type="color" name="codigo_color" id="codigo_color" value="#1e90ff" onchange="Recolor()" />
          </div>
        </div>
      </div>
      <div style="
          background-image: url(./static/images/Personal/Banner.png);
          background-size: cover;
          width: 45%;
          height: 150px;
          background-color: #8a2be2;
          float: left;
          margin-left: 15%;
        ">
        <div id="testEnfasis">
          <div id="testText">Titulo</div>
          <div id="testCode">
            <p>fmt.Println("Este Es Un Codigo de Prueba</p>
          </div>
        </div>
        <li style="background-color: black;">
          <a id="testButton"> <span></span> Boton de Prueba</a>
        </li>
      </div>
    </fieldset>
  </form>